---
import PageMeta from "../components/PageMeta.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { SITE_TITLE } from "../config";
---

<PageLayout>
  <PageMeta title={`${SITE_TITLE} | About`} slot="meta" />
  <Fragment slot="main">
    <section class="mb-8">
        <div class="mb-4">
          <h1
            class="font-extrabold text-3xl md:text-4xl tracking-tight pt-4 pb-2 overflow-hidden"
          >
          <div>
            <span
            class="bg-gradient-to-br from-primary-400 via-primary-500 to-primary-600 dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
            >
            About this website
            </span>
            </div>
          </h1>
          <p>Thank you for visiting my site. If you have any questions, feel free to reach out to me on <a href="https://linkedin.com/in/sven-gerber">LinkedIn</a> or <a href="https://github.com/svengerber">GitHub</a></p>
          <br>
          This site is built this blog using <a href="https://astro.build">Astro</a>, <a href="https://svelte.dev">Svelte</a>, <a href="https://pages.github.com/">GitHub Pages</a>
          <p>Source Code: <a href="https://github.com/svengerber/personal_website">GitHub Sven Gerber</a></p>
          <br>
          <br>
          <p></p>
        </div>
      </section>
  </Fragment>
</PageLayout>
