---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} previewImage={`/personal_website/${post.frontmatter.previewImage}`} />)}
  </div>
</BaseLayout>