---
const { title, url, previewImage } = Astro.props;
---
<blogpost>
  <div class="relative aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-w-7 xl:aspect-h-6">
    <a href={url}>
      <img src={previewImage} class="h-full w-full object-cover object-center group-hover:opacity-75 hover:scale-110 ease-in duration-100">
      <h3 class="mt-4 text-sm text-gray-700">{title}</h3>
    </a>
  </div>
</blogpost>