---
import Social from "./Social.astro";
---

<footer>
  <p>Learn more about my projects</p>
  <Social url="https://www.linkedin.com/in/" username="sven-gerber" platform="LinkedIn" />
  <Social url="https://github.com/" username="svengerber" platform="GitHub" />
</footer>

<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  </style>