---
import Greeting from "./Greeting.svelte";
import { Picture } from "@astrojs/image/components";
---

<section class="mb-8">
  <div class="mb-4">
    <div class="float-right w-2/5 border rounded-full ml-2 mb-2">
      <Picture src={`${import.meta.env.BASE_URL}/images/svengerber.jpeg`} alt="Sven Gerber" widths={[400, 800, 1500]} sizes="(max-width: 767px) 100vw, 736px" aspectRatio="1:1" fit="fill" class="rounded-full"/>
    </div>   
    <div class="">
      <h1 class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden">
        <Greeting client:only="svelte" /> 
      </h1>
    </div>
    <div class="col-span-full">
      <p class="text-2xl">I'm Sven Gerber,</p>
      <p class="text-2xl pb-4">Cloud Engineer from Switzerland</p>
    </div>
    <div class="col-span-full">   
      <p>Welcome to my personal blog, where I focus on sharing my knowledge and experiences using open source technologies, platform and network engineering.</p>
      <br>
      <p>I created this blog to document my journey as a system engineer, with a focus on leveraging cutting-edge technologies to build scalable, reliable and secure systems. 
        Here you will find a variety of content, including tutorials, tips, and personal reflections on my journey as a cloud engineer.</p>
      <br>
      To get my feet wet with modern web development, I built this blog using <a href="https://astro.build">Astro</a>, <a href="https://svelte.dev">Svelte</a>, <a href="https://pages.github.com/">GitHub Pages</a> and <a href="https://github.com/svengerber/personal_website">open sourced</a> it.
      <br>
      <br>
      <p>Thank you for visiting my blog, and I hope you find the content here informative and helpful.</p>
      <p>Happy engineering! 🛠️</p>
    </div>
  </div>
</section>
