---
---
<div class="nav-links">
    <a href="/personal_website/">Home</a>
    <a href="/personal_website/about">About</a>
    <a href="/personal_website/blog">Blog</a>
    <a href="/personal_website/tags">Tags</a>
</div>