---
const { url, username, platform } = Astro.props;
---
<a href={`${url}${username}`}>{platform}</a>

<style>
    a {
      padding: 0.5rem 1rem;
      color: white;
      background-color: #397bff;
      text-decoration: none;
    }
</style>